/* src/components/feedback/EventDropdown.css */
@import '../../styles/theme.css';
.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 2.5rem;
  background-color: var(--secondary-color);
  border-radius: 0 8px 8px 0;
  pointer-events: none;
}

.dark-theme .select-wrapper::after {
  background-color: #0f766e;
}

.select-arrow {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--text-secondary);
}

select.form-control {
  appearance: none;
  padding-right: 2.5rem;
}